*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex: 0 1 auto;
}
div {
    display: block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Common Tag Style */
.Input-common-style {
    outline: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border: 0px !important;
    border-radius: 0px !important;
    margin: 0px !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(100%) !important;
    clip-path: inset(100%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0px !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}
.Span-common-style {
    font-size: 16px !important;
    line-height: 20px !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-weight: 400 !important;
    padding: 10px 12px !important;
    pointer-events: auto !important;
    position: relative !important;
    text-align: center !important;
    z-index: 0 !important;
    color: #222222 !important;
}
.Span-common-style::before {
    background-color: currentcolor !important;
    border-radius: 1px !important;
    bottom: 0px !important;
    content: "" !important;
    height: 2px !important;
    left: 50% !important;
    margin-left: -9px !important;
    position: absolute !important;
    -webkit-transform: scaleX(0) !important;
    -ms-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
    -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    -moz-transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    width: 18px !important;
}
.Common-partition-section {
    -ms-grid-row-align: center !important;
    -ms-flex-item-align: center !important;
    -webkit-align-self: center !important;
    align-self: center !important;
    border-right: 1px solid #DDDDDD !important;
    -webkit-flex: 0 0 0px !important;
    -ms-flex: 0 0 0px !important;
    flex: 0 0 0px !important;
    height: 32px !important;
}
/* CSS */
.Info-inner-wrapper {
    padding-left: 24px !important;
    padding-right: 24px !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: var(--text-color-hex, #222222) !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    background: var(--background-color-hex, #F7F7F7) !important;
    text-align: center !important;
    position: relative !important;
    --background-color-hex: #222222;
    --text-color-hex: #A3A3A3;
}
.Info-print-wrapper {
    font-size: 12px !important;
    line-height: 16px !important;
    color: inherit !important;
    display: inline-block !important;
    font-weight: 600 !important;
    text-decoration: underline !important;
    white-space: nowrap !important;
    --text-hover-color-hex: #A3A3A3CC;
}
.Info-content {
    white-space: normal !important;
}
.HeaderWrapper::before {
    background-image: -webkit-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0)) !important;
    background-image: -moz-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0)) !important;
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0)) !important;
    content: "" !important;
    height: 140% !important;
    left: 0px !important;
    opacity: 0 !important;
    pointer-events: none !important;
    position: absolute !important;
    top: 0px !important;
    width: 100% !important;
    z-index: 0 !important;
    -webkit-transition: 150ms opacity ease !important;
    -moz-transition: 150ms opacity ease !important;
    transition: 150ms opacity ease !important;
}
.HeaderWrapper::after {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px !important;
    -webkit-transform-origin: 50% 0% !important;
    -ms-transform-origin: 50% 0% !important;
    transform-origin: 50% 0% !important;
    -webkit-transition-duration: 150ms !important;
    transition-duration: 150ms !important;
    -webkit-transition-property: opacity, -webkit-transform, transform !important;
    -moz-transition-property: opacity, transform !important;
    transition-property: opacity, -ms-transform, -webkit-transform, transform !important;
    -webkit-transition-timing-function: ease !important;
    transition-timing-function: ease !important;
    background: #FFFFFF !important;
    content: "" !important;
    height: 100% !important;
    left: 0px !important;
    position: absolute !important;
    top: 0px !important;
    width: 100% !important;
    z-index: 0 !important;
    -webkit-transform: scaleY(3.05) !important;
    -ms-transform: scaleY(3.05) !important;
    transform: scaleY(3.05) !important;
    opacity: 0 !important;
}
.MainHeaderInnerarea::before {
    display: flex !important;
    content: '' !important;
}